@import "tailwindcss";

@theme {
  --max-width-screen-2xl: 1536px;
}

@layer utilities {
  /* hidescrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

* {
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}

@layer components {
  .auth-input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors placeholder:text-sm placeholder:text-gray-400;
  }

  .auth-input-error {
    @apply w-full px-4 py-2 border border-red-500 rounded-lg focus:ring-2 focus:ring-red-500 focus:border-red-500 outline-none transition-colors placeholder:text-sm placeholder:text-red-400;
  }

  .update-button {
    @apply bg-blue-600 cursor-pointer hover:bg-blue-500 text-white px-6 py-3 rounded-lg font-medium transition-colors w-40 text-sm disabled:bg-blue-400;
  }
}

@layer components {
  .gd-1 {
    background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 97, 255, 1) 0%, rgba(96, 239, 255, 1) 100.7%); */
  }

  .gd-2 {
    /* background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%); */
    background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
  }

  .gd-3 {
    background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  }

  .gd-4 {
    /* background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%); */
    /* background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%); */
    /* background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%); */
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(8, 247, 14, 0.76) 0%, rgba(251, 249, 69, 1) 90%);
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 251, 86, 0.88) 0%, rgba(165, 225, 27, 1) 90%); */
  }
}
